@tailwind base;
@tailwind components;
@tailwind utilities;

.prodibi {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.pt4x3 {
  padding-top: 75%;
}

.pt16x10 {
  padding-top: 62.5%;
}

.pt16x9 {
  padding-top: 56.25%;
}

.pt1-85x1 {
  padding-top: 54.054%;
}

.pt2x1 {
  padding-top: 50%;
}

.pt2-35x1 {
  padding-top: 42.553%;
}


