@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Agency';
    src: url('/fonts/AGENCYR.TTF') format('truetype');
  }
}

#root,
html,
body {
  height: 100%;
  margin: 0;
}